/* Custom Styles for the Navigation Bar */
.custom-navbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background: rgb(108, 154, 72);
  width: -webkit-fill-available;
  border-radius: 5px;
  z-index: 100;
  border: 1px solid black;
}

.custom-navbar svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.custom-navbar svg:hover {
  color: var(--col1);
}

.custom-navbar img {
  width: 10%;
}

.custom-navbar .section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom-navbar .right {
  width: 15%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.custom-navbar .group {
  width: 50%;
  display: flex;
  padding: 5px;
  border: none;
  filter: drop-shadow(7px 3px 3px gray);
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-right: -50px;
}

.custom-navbar .group input {
  border: none;
  outline: none;
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.custom-navbar .cart {
  position: relative;
}

.custom-navbar .cart .qty {
  background-color: var(--col1);
  color: black;
  border-radius: 50%;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.custom-navbar .section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 3%;
}

.custom-navbar .section2 a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
